/***** Colors ******/
$blue: #1da1f2;
$green: #438e78;
$pink: #e0245e;
$white: #ffffff;
$black: #000000;
$gray-bg1: #F7F9FA;
$gray-bg2: #777777;
$gray-link: #5b7083;
$border: 1px solid lighten($gray-bg2, 45);
$transition: 200ms;
/***** Queries *****/
$mq1: 1265px;
$mq2: 1120px;
$mq3: 1000px;
$mq4: 800px;
$mq5: 760px;
$mq6: 500px;
/***** Size *****/
:root{
    --left: 275px;
    --center: minmax(auto, calc(1265px / 2));
    --right: minmax(290px, calc(1265px / 3.4));
    --top: 53px;
    --max-width: 1265px;
    --padding: 15px;

    @media(max-width: $mq1){
        --left: 88px;
        --max-width: 90%;
    }
    @media(max-width: $mq3){
        --max-width: 85%;
    }
    @media(max-width: $mq4){
        --max-width: 90%;
    }
    @media(max-width: $mq5){
        --left: 75px;
        --max-width: 100%;
    }
    @media(max-width: $mq6){
        --padding: 12px;
    }
}
