.news{
    &__main-title{
        display: inline-block;
        width: 100%;
        padding: var(--padding);
        
        text-transform: lowercase;
        background-color: $gray-bg1;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
